body {
    background-color: #482b97;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

#squaredivs {
    width: 480px;
    height: 480px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.singlerow {
    display: flex;
    flex-direction:row;
}

.smallsquare {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
/*
.hovered {
    background-color: purple;
}*/

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px;
}

.head {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: "New Amsterdam", sans-serif;
    font-size: 80px;
}

#inputs {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

#BUTTONS {
    display: flex;
    flex-direction: column;
}

#GRIDSIZE, #COLOR {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 4px;
    padding: 4px;
}

label {
    color: white;
}