#squaredivs {

    display: flex;
    flex-direction: column;
}

.singlerow {
    display: flex;
    flex-direction:row;
}

.smallsquare {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
/*
.hovered {
    background-color: purple;
}*/

body {
    display: flex;
    flex-wrap: wrap;
}